div.section-header
  | Your Friends
div.section-body
  div.section-column.row
    div.col-sm-4
      div.section-column-header
        | Make Friends
        div.small
          | Search your buddies up and accept your buddy's friend request.
    div.col-sm-8
      input.input-lg.form-control(
        type="text",
        ng-model="addFriend",
        placeholder="Type your friend's username to add them",
        typeahead="user for user in searchUsers($viewValue)",
        typeahead-editable="false",
        typeahead-on-select="typeaheadSelected($item, $model, $label)"
        typeahead-template-url="friendTypeahead.tmpl"
        typeahead-wait-ms="500"
        typeahead-min-length="3"
      )
      p
      table.table.table-striped
        tr(ng-repeat="friend in pending_friends")
          td.text-center
              button.btn.btn-primary(ng-show="!friend.made", ng-click="acceptFriendRequest(friend)")
                | Accept
              span(ng-show="friend.made")
                i.fa.fa-clock-o.fa-color-warning.fa-size-lg(tooltip="Waiting for your friend to accept")
          td
            div
              div.gravatar
                img(ng-src="{{friend.gravatar}}")
                | &nbsp;&nbsp;{{friend.username}}
        tr(ng-repeat="friend in friends")
          td.text-center
            span
              i.fa.fa-check.fa-color-success.fa-size-lg(tooltip="You're friends!")
          td
            div
              div.gravatar
                img(ng-src="{{friend.gravatar}}")
                | &nbsp;&nbsp;{{friend.username}}

