div.section-header
  | Your Friends
div.section-body
  div.section-column.row
    div.col-sm-4
      div.section-column-header
        | Leaderboard
        div.small
          | This is where you stand against your friends.
    div.col-sm-8
      table.table.table-bordered
        thead
          th
          th
            | Name
          th
            | Steps
        tbody
          tr(ng-repeat="(i,friend) in leaderboard", ng-class="{info: friend._id === user._id}")
            td
              strong
                | {{i+1}}
            td
              div
                div.gravatar
                  img(src="{{friend.gravatar}}")
                  | &nbsp;&nbsp;{{friend.username}}
                  span.bold(ng-show="friend._id === user._id")
                    | &nbsp;(you)
            td
              | {{friend.steps | number}}
  div.section-column.row
    div.col-sm-4
      div.section-column-header
        | Make Friends
        div.small
          | Search your buddies up and accept your buddy's friend request.
    div.col-sm-8
      input.form-control(
        type="text",
        ng-model="addFriend",
        placeholder="Your friend's username",
        typeahead="user for user in searchUsers($viewValue)",
        typeahead-editable="false",
        typeahead-on-select="typeaheadSelected($item, $model, $label)"
      )
      p
      table.table.table-striped
        tr(ng-repeat="friend in pending_friends")
          td.text-center
            div
              div.gravatar
                img(src="{{friend.gravatar}}")
                | &nbsp;&nbsp;{{friend.username}}
          td.text-center
              button.btn.btn-primary(ng-show="!friend.made", ng-click="acceptFriendRequest(friend)")
                | Accept
              span(ng-show="friend.made")
                em
                  | Awaiting friend to accept...
